﻿<!DOCTYPE html>
<html>
<head>
<title>Customer Details</title>
</head>
<body>
    @model activity3_part1.Models.CustomerModel

    @Html.Label("Customer Details")
    @Html.DisplayFor(c => c.Name);
    @Html.DisplayFor(c => c.Age);
</body>
</html>
